* {
    margin: 0;
  
}
body{
    background-image: url(../img/book.jpg);
    background-size: 1450px 660px;
    background-repeat: no-repeat;
}

.img1 {

  margin-top: 40px;
  margin-left: 260px;

 
}

.img2{
    margin-top: -30px;
    margin-left:1100px;

}
.img3{
    
    margin-top: 410px;
    margin-left:1300px;
}
.img4{
    margin-top: -570px;
    margin-left: 480px;
   
}
.img5{
margin-top: 220px;
margin-left: 450px;
}
.img6{

    margin-top: 230px;
    margin-left: 30px;
}

h1{
    text-align: center;
    font-size: 33px;
    font-family: 'Ms Madi', cursive;
    color: rgb(250, 148, 150);
    text-shadow: rgb(198, 79, 79) 1px 2px;
}



